<li class="directory indent-<%= indent %>" aria-expanded="false">
  <div class="directory-header" role="button" aria-expanded="false">
    <span class="toggle-icon"></span>
    <span class="directory-name"><i class="fa-solid fa-folder"></i> <strong><%= directory.name %></strong></span>
    <span class="item-type">Diretório</span>
    <span class="item-date"><%= l(directory.created_at, format: :short) %></span>
    <span class="item-actions">
      <%= link_to directory_new_file_entry_path(directory), class: 'text-primary', title: 'Upload de Arquivo', data: { bs_toggle: 'tooltip' } do %>
        <i class="fa-solid fa-folder"></i>
      <% end %>
      <%= link_to new_directory_path(parent_id: directory.id), class: 'text-success', title: 'Novo Subdiretório', data: { bs_toggle: 'tooltip' } do %>
        <i class="fa-solid fa-files ms-1"></i>
      <% end %>
      <%= link_to edit_directory_path(directory), class: 'text-primary', title: 'Editar', data: { bs_toggle: 'tooltip' } do %>
        <i class="fa-solid fa-marker"></i>
      <% end %>
      <%= link_to directory_path(directory), method: :delete, class: 'text-danger delete-directory', title: 'Excluir', data: { bs_toggle: 'tooltip' } do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </span>
  </div>

  <% if directory.file_entries.any? %>
    <ul class="file-list list-unstyled indent-<%= indent + 1 %>">
      <% directory.file_entries.each do |file| %>
        <li class="file-item">
          <div class="file-header">
            <span class="file-name"><i class="fa-solid fa-file"></i> <%= file.name %></span>
            <span class="item-type">Arquivo</span>
            <span class="item-date"><%= l(file.created_at, format: :short) %></span>
            <span class="item-actions">
            </span>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if directory.subdirectories.any? %>
    <ul class="subdirectory-list list-unstyled indent-<%= indent + 1 %>">
      <% directory.subdirectories.each do |sub| %>
        <li class="subdirectory-item">
          <%= render partial: 'directory', locals: { directory: sub, indent: indent + 1 } %>
        </li>
      <% end %>
    </ul>
  <% end %>
</li>